ul(class='header')
    li(class='navlink')
        a(class='headeritem', href='https://eu.forums.blizzard.com/de/wow/t/h-vision-razorfen/192515', target='_blank')
            img(class='headerimg', src="./images/blizzard.png")
    li(class='navlink')
        a(class='headeritem', href='https://discord.gg/VJ8YcUX4gW', target='_blank')
            img(class='headerimg', src="./images/discord.png")
    li(class='navlist')
        a(class='headeritem', href='/') Home
    li(class='navlist')
        a(class='headeritem', href='/raid') Raiding
    li(class='navlist')
        a(class='headeritem', href='') Nochwas
    li(class='navlist')
        a(class='headeritem', href='') Zuku