extends layout
block content
  include header.jade
  include logo.jade
  div(class='container')
    div(class='halfcontent')
      div(class='hctitle')
        h2 Wir Suchen:
      br
      div(class='hcinput')
       each val, keyz in classes
        div(classe="halb")
          each vali, key in val
            if vali
              form(action='/class' method='post')
                input(type='hidden' name='class' value=keyz)
                input(type='hidden' name='spec' value=key)
                input(type='submit' value="" class="inputClass" style="--url: url(\"../images/"+keyz+"/"+key+".png\")")
            else
              form(action='/class' method='post')
                input(type='hidden' name='class' value=keyz)
                input(type='hidden' name='spec' value=key)
                input(type='submit' value="" class="inputClass opac" style="--url: url(\"../images/"+keyz+"/"+key+".png\")")
    div(class='halfcontent')
      include galerie.jade
    div(class='halfcontent')
      include uploads.jade
