extends layout
block content
  include header.jade
  include logo.jade
  div(class='container')
    div(class='content full')
      div(class='hctitle')
        h2 Raiding FAQ
      div(class='hccontent')
        p Q: Wie ist die Lootvergabe gestaltet?
        p A: Alle Raider die ein Item benötigen dürfen darauf würfeln, insofern sie noch kein Item in dieser ID bekommen haben.
        p Q: Wie sieht es mit Consumables aus?
        p A: Alle Tränke, Verzauberungen, Sockel etc. werden für Raider aus der Gildenbank gestellt!
    div(class='content full')
      div(class='hctitle')
        h2 Raidguides ICC
    div(class='content third')
      div(class='hctitle')
        h2 efd
      div(class='hccontent')
       iframe(src="https://www.youtube.com/watch?v=QAvCe81A2LE")
    div(class='content third')
      div(class='hctitle')
        h2 gkd
      div(class='hccontent')
    div(class='content third')
      div(class='hctitle')
        h2 gkd
      div(class='hccontent')
