extends layout
block content
  include header.jade
  include logo.jade
  div(class='container')
    div(class='content full')
      div(class='hctitle')
        h2 Raiding FAQ
      div(class='hccontent')
        p Q: Wie ist die Lootvergabe gestaltet?
        p A: Alle Raider die ein Item benötigen dürfen darauf würfeln, insofern sie noch kein Item in dieser ID bekommen haben.
        p Q: Wie sieht es mit Consumables aus?
        p A: Alle Tränke, Verzauberungen, Sockel etc. werden für Raider aus der Gildenbank gestellt!
    div(class='content full')
      div(class='hctitle')
        h2 Raidguides ICC
    div(class='content half')
      div(class='hctitle')
        h2 Lord Marrowgar
      div(class='hccontent')
       iframe(src="https://www.youtube.com/embed/QAvCe81A2LE")
    div(class='content half')
      div(class='hctitle')
        h2 Lady Todswisper
      div(class='hccontent')
        iframe(src="https://www.youtube.com/embed/X1WQrH_RmdE")
    div(class='content half')
      div(class='hctitle')
        h2 Gunship Battle
      div(class='hccontent')
        iframe(src="https://www.youtube.com/embed/cErSSn4ordA")
    div(class='content half')
      div(class='hctitle')
        h2 Todesbringer Saurfang
      div(class='hccontent')
       iframe(src="https://www.youtube.com/embed/LYGZJnQlqXs")
